* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --clrbg: #51509B;
    --clrhead: #404B5F;
    --clrprice: #4A5568;
    --clrbodyfont: white;
    --facolor: #E5AF40;
    --packb4bordshdw: #FFEABE;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    width: 90%;
    height: 85%;
    background-color: var(--clrbg);
    border-radius: 5px;
    color: var(--clrbodyfont);
    padding: 10% 70px;
}

.head h3 {
    margin-bottom: 1rem;
}

prem-pack {
    background-color: var(--clrbodyfont);
    height: ;
}

.specs {
    overflow-wrap: break-word;
    width: 370px;
    border-bottom: solid 1px #E2E8F0;
}