* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clrbg: #51509B;
    --clrhead: #404B5F;
    --clrprice: #4A5568;
    --clrbodyfont: white;
    --facolor: #E5AF40;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--clrbg);
    width: 90%;
    height: 500px;
    display: grid;
    border-radius: 5px;
}

.specs {
    border-bottom: ;
}